In [29]:
import pandas as pd
#Assign data
data={'Name':['sai','yuva','poo','savi','ruba','raj','ravi'],
    'Age':[20,18,19,20,18,17,19],
    'Gender':['M','F','M','F','F','M','M'],
    'Marks':[90,76,'NaN',74,65,'NaN',71]}
df=pd.DataFrame(data)
print("Original DataFrame:\n",df)
c=avg=0
for ele in df['Marks']:
    if str(ele).isnumeric():
        c+=1
        avg+=ele
        avg/=c
        df=df.replace(to_replace='NaN',value=avg)
print("\nReplacing NaN with average marks:\n",df)

Original DataFrame:
    Name  Age Gender Marks
0   sai   20      M    90
1  yuva   18      F    76
2   poo   19      M   NaN
3  savi   20      F    74
4  ruba   18      F    65
5   raj   17      M   NaN
6  ravi   19      M    71

Replacing NaN with average marks:
    Name  Age Gender  Marks
0   sai   20      M   90.0
1  yuva   18      F   76.0
2   poo   19      M   90.0
3  savi   20      F   74.0
4  ruba   18      F   65.0
5   raj   17      M   90.0
6  ravi   19      M   71.0

/var/folders/vn/dx_8qxpn4ms_4ss7fvbgk4pr0000gp/T/ipykernel_1659/2170915344.py:15: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df=df.replace(to_replace='NaN',value=avg)

In [31]:
df=df[df['Marks']>=75]
df=df.drop(['Age'],axis=1)
print("\n Filtering and dropping function:\n",df)

 Filtering and dropping function:
    Name Gender  Marks
0   sai      M   90.0
1  yuva      F   76.0
2   poo      M   90.0
5   raj      M   90.0

In [37]:
one=pd.DataFrame({
    'Name':['sai','Raj','yuva','Ram','Sam'],
    'Subject_id':['sub1','sub2','sub3','sub4','sub5'],
    'Marks_scored':[98,90,92,85,89]},
    index=[1,2,3,4,5])
two=pd.DataFrame({
    'Name':['sanju','ravi','shree','niki','rahul'],
    'subject':['sub2','sub4','sub3','sub6','sub5'],
    'Marks_scored':[73,80,85,98,79]},
    index=[1,2,3,4,5])
print("\n original dataframe1:\n",one)
print("\n original dataframe2:\n",two)
print(pd.concat([one,two]))

 original dataframe1:
    Name Subject_id  Marks_scored
1   sai       sub1            98
2   Raj       sub2            90
3  yuva       sub3            92
4   Ram       sub4            85
5   Sam       sub5            89

 original dataframe2:
     Name subject  Marks_scored
1  sanju    sub2            73
2   ravi    sub4            80
3  shree    sub3            85
4   niki    sub6            98
5  rahul    sub5            79
    Name Subject_id  Marks_scored subject
1    sai       sub1            98     NaN
2    Raj       sub2            90     NaN
3   yuva       sub3            92     NaN
4    Ram       sub4            85     NaN
5    Sam       sub5            89     NaN
1  sanju        NaN            73    sub2
2   ravi        NaN            80    sub4
3  shree        NaN            85    sub3
4   niki        NaN            98    sub6
5  rahul        NaN            79    sub5