In [1]:
import pandas as pd
car_selling_data={'Brand':['Maruti','Maruti','Maruti','Maruti','Hyundai','Hyundai','Toyota','Mahindra','Mahindra','Ford','Toyota','Ford'],'Years':[2010,2011,2009,2013,2010,2011,2011,2010,2013,2010,2010,2011],'Sold':[6,7,9,8,3,5,2,8,7,2,4,2]}
df=pd.DataFrame(car_selling_data)
print('\n original DataFrame\n',df)
grouped=df.groupby('Years')
print('\n Group by year:\n',grouped.get_group(2010))

 original DataFrame
        Brand  Years  Sold
0     Maruti   2010     6
1     Maruti   2011     7
2     Maruti   2009     9
3     Maruti   2013     8
4    Hyundai   2010     3
5    Hyundai   2011     5
6     Toyota   2011     2
7   Mahindra   2010     8
8   Mahindra   2013     7
9       Ford   2010     2
10    Toyota   2010     4
11      Ford   2011     2

 Group by year:
        Brand  Years  Sold
0     Maruti   2010     6
4    Hyundai   2010     3
7   Mahindra   2010     8
9       Ford   2010     2
10    Toyota   2010     4

In [6]:
student_data={'Name':['Np','Preetha','Rakesh','Prathap','Raji','Subi','Sachin','Karthiga','Kalai','Ramki'],'Roll_no':[20,25,20,32,69,32,20,35,69,17],'Email':['NP@gmail.com','Preetha@gmail.com','Rakesh@gmail.com','Prathap@gmail.com','Raji@gmail.com','Subi@gmail.com','Sachin@gmail.com','Karthiga@gmail.com','Kalai@gmail.com','Ramki@gmail.com']}
df=pd.DataFrame(student_data)
print('\n Original DataFrame\n',df)
non_duplicate=df[~df.duplicated('Roll_no')]
print('\n Removed dulipcate rows:\n',non_duplicate)

 Original DataFrame
        Name  Roll_no               Email
0        Np       20        NP@gmail.com
1   Preetha       25   Preetha@gmail.com
2    Rakesh       20    Rakesh@gmail.com
3   Prathap       32   Prathap@gmail.com
4      Raji       69      Raji@gmail.com
5      Subi       32      Subi@gmail.com
6    Sachin       20    Sachin@gmail.com
7  Karthiga       35  Karthiga@gmail.com
8     Kalai       69     Kalai@gmail.com
9     Ramki       17     Ramki@gmail.com

 Removed dulipcate rows:
        Name  Roll_no               Email
0        Np       20        NP@gmail.com
1   Preetha       25   Preetha@gmail.com
3   Prathap       32   Prathap@gmail.com
4      Raji       69      Raji@gmail.com
7  Karthiga       35  Karthiga@gmail.com
9     Ramki       17     Ramki@gmail.com

In [7]:
details=pd.DataFrame({'ID':[101,102,103,104,105,106,107,108,109,110],'Name':['Arun','Pavi','Sai','Poo','Ravi','Anu','Jack','Amit','Ria','Savi'],'Branch':['Mech','Mech','CSE','CSE','CSE','EEE','EEE','EEE','IT','IT']})
print('Original DataFrame1\n',details)
fees_status=pd.DataFrame({'ID':[102,102,103,104,105,106,107,108,109,110],'Pending':['5000','250','NIL','9000','15000','NIL','4500','1800','250','NIL']})
print('Original DataFrame2\n',fees_status)
print('Merged DataFrame\n',pd.merge(details,fees_status,on='ID'))

Original DataFrame1
     ID  Name Branch
0  101  Arun   Mech
1  102  Pavi   Mech
2  103   Sai    CSE
3  104   Poo    CSE
4  105  Ravi    CSE
5  106   Anu    EEE
6  107  Jack    EEE
7  108  Amit    EEE
8  109   Ria     IT
9  110  Savi     IT
Original DataFrame2
     ID Pending
0  102    5000
1  102     250
2  103     NIL
3  104    9000
4  105   15000
5  106     NIL
6  107    4500
7  108    1800
8  109     250
9  110     NIL
Merged DataFrame
     ID  Name Branch Pending
0  102  Pavi   Mech    5000
1  102  Pavi   Mech     250
2  103   Sai    CSE     NIL
3  104   Poo    CSE    9000
4  105  Ravi    CSE   15000
5  106   Anu    EEE     NIL
6  107  Jack    EEE    4500
7  108  Amit    EEE    1800
8  109   Ria     IT     250
9  110  Savi     IT     NIL