In [3]:
import pandas as pd 
import numpy as np
from datetime import datetime
dates=[datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]
ts=pd.Series(np.random.randn(6),index=dates)
print("Date index\n",ts)

Date index
 2011-01-02   -0.178079
2011-01-05   -0.419016
2011-01-07   -0.670277
2011-01-08   -0.055683
2011-01-10   -1.150556
2011-01-12    0.221070
dtype: float64

In [4]:
print("\nDate Index alone from the series: \n",ts.index)

Date Index alone from the series:
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [5]:
stamp=ts.index[2]
print("\nSecond index:\n", stamp)

Second index:
 2011-01-07 00:00:00

In [7]:
longer_ts=pd.Series(np.random.randn(1000),
index=pd.date_range("2000-01-01",periods=1000))
print("\nDaterange up to 1000 days:\n",longer_ts)

Daterange up to 1000 days:
 2000-01-01   -1.016918
2000-01-02    0.398101
2000-01-03   -0.011098
2000-01-04   -0.826066
2000-01-05   -0.491679
                ...
2002-09-22    0.895096
2002-09-23   -0.005066
2002-09-24   -0.185295
2002-09-25    0.357730
2002-09-26    1.155239
Freq: D, Length: 1000, dtype: float64

In [8]:
print("\nDate range-2001 year:\n", longer_ts["2001"])

Date range-2001 year:
 2001-01-01    0.900268
2001-01-02   -2.222705
2001-01-03   -1.138125
2001-01-04   -0.427532
2001-01-05   -0.152003
                ...
2001-12-27   -0.862978
2001-12-28    0.899452
2001-12-29    1.180326
2001-12-30    2.117175
2001-12-31   -1.012635
Freq: D, Length: 365, dtype: float64

In [9]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01    0.173726
2001-05-02    0.862200
2001-05-03    0.987795
2001-05-04    0.486102
2001-05-05    0.853634
2001-05-06   -1.619735
2001-05-07    0.176924
2001-05-08    0.327771
2001-05-09    0.087910
2001-05-10   -0.055416
2001-05-11   -1.344279
2001-05-12    0.295737
2001-05-13   -0.611436
2001-05-14    0.151774
2001-05-15    0.355901
2001-05-16    0.823218
2001-05-17    0.663850
2001-05-18   -1.292122
2001-05-19   -1.165424
2001-05-20    0.129479
2001-05-21    1.012533
2001-05-22    0.474497
2001-05-23    2.190914
2001-05-24    0.536209
2001-05-25   -0.095349
2001-05-26   -1.216250
2001-05-27    1.104566
2001-05-28   -1.360112
2001-05-29    0.011798
2001-05-30   -0.374901
2001-05-31   -1.071506
Freq: D, dtype: float64

In [10]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01   -1.016918
2000-01-02    0.398101
2000-01-03   -0.011098
2000-01-04   -0.826066
2000-01-05   -0.491679
Freq: D, dtype: float64

In [11]:
print("\nDate range-first 15 dates in 02 month 2001 year:\n",longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year:
 2000-02-01   -0.360939
2000-02-02    0.303684
2000-02-03   -0.249065
2000-02-04   -0.140003
2000-02-05   -0.493930
2000-02-06    0.852514
2000-02-07    1.505352
2000-02-08   -0.849942
2000-02-09    0.758306
2000-02-10   -0.533593
2000-02-11    0.763301
2000-02-12    1.274146
2000-02-13    0.477173
2000-02-14    0.149207
2000-02-15    0.900365
Freq: D, dtype: float64

In [12]:
print("\nDate range-rom 26-9-2001:\n",longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001:
 2000-09-26   -0.708149
2000-09-27   -0.153548
2000-09-28   -1.824205
2000-09-29   -1.131339
2000-09-30   -1.022079
                ...
2002-09-22    0.895096
2002-09-23   -0.005066
2002-09-24   -0.185295
2002-09-25    0.357730
2002-09-26    1.155239
Freq: D, Length: 731, dtype: float64

In [17]:
print("\nDate range from 26-9-2001 to 25-9-2002:\n",longer_ts[datetime(2001,9,26):datetime(2002,9,25)])

Date range from 26-9-2001 to 25-9-2002:
 2001-09-26   -0.045546
2001-09-27   -0.212031
2001-09-28   -2.787514
2001-09-29    1.816835
2001-09-30    1.279949
                ...
2002-09-21   -0.392366
2002-09-22    0.895096
2002-09-23   -0.005066
2002-09-24   -0.185295
2002-09-25    0.357730
Freq: D, Length: 365, dtype: float64