In [9]:
import numpy as np
import pandas as pd 
df=pd.DataFrame({'name':['Alice','Bob','Charlie','Alice','Bob','Charlie'],'categories':['A','B','C','A','B','C'],'value':np.random.randint(1,5,size=6),'score':np.random.randint(60,100,size=6)})
print("\n original dataframe:\n",df)
df1=df.groupby(('name'),as_index=False)['value'].sum()
print("\n group and aggregation with one column:\n",df1)

 original dataframe:
       name categories  value  score
0    Alice          A      2     97
1      Bob          B      4     93
2  Charlie          C      3     77
3    Alice          A      3     69
4      Bob          B      1     81
5  Charlie          C      2     99

 group and aggregation with one column:
       name  value
0    Alice      5
1      Bob      5
2  Charlie      5

In [10]:
df2=df.groupby(('name'),as_index=False)[['value','score']].sum()
print("\n group and aggregation with 2 column sum:\n",df2)

 group and aggregation with 2 column sum:
       name  value  score
0    Alice      5    166
1      Bob      5    174
2  Charlie      5    176

In [11]:
df3=df.groupby(('name'),as_index=False)['value'].agg('sum')
print("\n group and aggregation with 2 column sum:\n",df3)

 group and aggregation with 2 column sum:
       name  value
0    Alice      5
1      Bob      5
2  Charlie      5

In [12]:
df4=df.groupby('name').agg({'value':['sum','mean','min','max'],'score':['sum','mean']})
print("\n groupby name multiple aggregration:\n",df4)

 groupby name multiple aggregration:
         value              score
          sum mean min max   sum  mean
name
Alice       5  2.5   2   3   166  83.0
Bob         5  2.5   1   4   174  87.0
Charlie     5  2.5   2   3   176  88.0

In [15]:
df5=df.groupby(('name'),as_index=False)['value'].count()
print("\n group and count:\n",df5)

 group and count:
       name  value
0    Alice      2
1      Bob      2
2  Charlie      2

In [16]:
df6=df.groupby(('name')).count()
print("\n group and count:\n",df6)

 group and count:
          categories  value  score
name
Alice             2      2      2
Bob               2      2      2
Charlie           2      2      2

In [18]:
df7=df.groupby(('name'),as_index=False)['value'].first()
print("\n group and display first:\n",df7)

 group and display first:
       name  value
0    Alice      2
1      Bob      4
2  Charlie      3

In [19]:
df8=df.groupby(('name')).first()
print("\n group and count:\n",df8)

 group and count:
         categories  value  score
name
Alice            A      2     97
Bob              B      4     93
Charlie          C      3     77

In [20]:
df9=df.groupby(('name'),as_index=False)['value'].last()
print("\n group and display last:\n",df9)

 group and display last:
       name  value
0    Alice      3
1      Bob      1
2  Charlie      2

In [22]:
df10=df.groupby(('name')).last()
print("\n group and display from last:\n",df10)

 group and display from last:
         categories  value  score
name
Alice            A      3     69
Bob              B      1     81
Charlie          C      2     99